.contactcontainer{
    background-color:var(--bg-color);
    height:110vh;
}
.contact{
    letter-spacing:1px;
    font-weight:400;
}
.connecttext{
    color:#98fbcb;
    font-weight:600;
    letter-spacing:1px;
}
.collabtext{
    color:#98fbcb;             ;
    font-weight:600;
    letter-spacing:1px;
}
.phno {
  
}
.phnoico{
    background-color:transparent;
    border-radius:50%;
    border:2px solid #98fbcb;
    padding:8px 8px 11px 11px;
    color:#98fbcb
}
.gmail{

}
.gmailico{
    background-color:transparent;
    border-radius:50%;
    border:2px solid #98fbcb;
    padding:8px 11px 9px 11px;
    color:#98fbcb
}
.example{

}
.exico{
    background-color:transparent;
    border-radius:50%;
    border:2px solid #98fbcb;
    padding:8px 11px 9px 11px;
    color:#98fbcb
}
.address{

}
.addressico{
    background-color:transparent;
    border-radius:50%;
    border:2px solid #98fbcb;
    padding:8px 11px 9px 11px;
    color:#98fbcb;
}


.ifile{
    padding:20px;
    width:330px;
    border-radius:50px;
    margin:17px;
    background-color:white;
    border:1.5px solid beige;
    color:black;
}
.subject{
    padding:20px 25px;
    width:690px;
    border-radius:50px;
    margin:17px;
    background-color:white;
    border:1.5px solid beige;
    color:black;
}
.message{
    width:45vw;
    border-radius:45px;
    margin:17px;
    background-color:white;
    border:1.5px solid beige;
    color:black;
    height:44.5vh;
    padding:20px 25px;
}

::placeholder{
    font-size:0.9rem;
    color:darkgray;
    position:absolute;
    top:24px;
}

#message::placeholder{
    font-size:0.9rem;
    color:darkgray;
    position:absolute;
    top:35px;
}
