
.header_one{
    width:100%;
    height:45px;
    position:relative;
    overflow:hidden;
    background-color: var(--bg-color);
}
.moving-line{
     font-size:25px;
     color:white;
     font-weight:500;
     letter-spacing:5px
}