
.fluidheader{
    background-color:#46188a;
    padding:0rem 1rem;
}
.navlogo{
    display:block;
    margin-left:5rem;
    width:82px;
}
.navlogo img{
    width:100%;
    height:auto;
    object-fit:contain;
}
.navbarul{
    display:flex;
    flex-wrap:wrap;
    width:69%;
    justify-content:space-between;
    align-items:end;
    font-weight:300;
    font-size:1.3rem;
    padding-left:14rem;
    padding-right:5rem;
    
}
.navbarul a{
    color:white;
    list-style-type:none;
    text-decoration:none;
}

.btnheader{
    margin-top:0.5rem;;
    margin-left:5em;
    align-self:start;
}
.btnhome1{
    border-radius: 8px;
    border:2px solid white;
    padding: 0.8em 1.9em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    color:white;

}
a.active {
    color:snow;
    border-radius:7px;
    text-decoration: underline;
    text-decoration-color:snow;
}
.bg-dark{
    background-color:white;
}
.navbarr{
    display:flex;
    align-items:center;
    margin-top:1rem;
}