.aboutcont{
    background-color:#ccccff;
    height:200vh;
    color:white;
    margin:0px;
}
.aboutsecond{
    background-color:#ccccff;
    margin:0px;
    height:0vh;
}

.about_page{
    padding:100px 0px 100px 0px;
    margin:0px;
    justify-content:center;
    background-color:#ccccff;
}
.workhead{
    background-color:#ccccff;
    margin:0px;
}
.about_logo{
  background-color:#d9d9d9;
  width:23.8vw;
  height:30vw;
  border-left:3px solid white;
}

.about_logo img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.about_text{
    background-color:#d9d9d9;
    color:black;
    padding:20px 70px;
    height:30vw;
  width:47vw;
  border-top:3px solid white;
  border-right:3px solid white;
  border-bottom:3px solid white;
}

.textlg{
    font-size:3rem;
}
.pankaj2{
    color:#ee6253;
}
.aboutbtn{
    border:none;
    color:white;
    border-radius:50px;
    cursor:pointer;
    background-color:royalblue;
    margin:0px;
}

.worktitle{
    color:#6a5acd;
}

.worktitle h3{
    letter-spacing:1px;
    color:white;
}
.worktitle h1{
    letter-spacing:1px;
    font-size:56px;
    color:white;
}

.my{
    color:black;
}
.parasm{
    font-size:1.4rem;
}
.projectleft{
        gap:0rem;
        padding:0;
}


.workcardleft{
  width:36vw;
  height:450px;
  border-radius:30px;
  margin-left:155px;
  margin-right:100px;
  background-color:#f2f0ef;
  padding:20px;
  padding-top:9px;
  color:black;
}
.workcardright{
    width:36vw;
    height:450px;
    border-radius:30px;
    background-color:#f2f0ef;
    color:black;
    padding:20px;
    padding-top:9px;
}

.workcardleft h2,
.workcardright h2{
    font-size:2.6rem;
    color:#6a5acd;
    padding-top:5px;
    font-weight:600;
    letter-spacing:1px;
    word-spacing:5px;
}

.Horizontal-line{
    height:1px;
    width:490px;
    background-color:lightgray;
    margin-bottom:25px;
    border-radius:50%;
}

.workcardleft h4,.workcardright h4{
    padding-top:15px;
}


.wl1{
    background-color:white;
    padding:0px;
    margin-left:143px;
    padding:1px 6px;
    border-radius:7px;
}

.wl2{
    background-color:white;
    padding:0px;
    margin-left:159px;
    padding:1px 6px;
    border-radius:7px;
}
.wl3{
    background-color:white;
    padding:0px;
    margin-left:209px;
    padding:1px 6px;
    border-radius:7px;
}

.wl4{
    background-color:white;
    padding:0px;
    margin-left:200px;
    padding:1px 6px;
    border-radius:7px;
}
.wl5{
    background-color:white;
    padding:0px;
    margin-left:187px;
    padding:1px 6px;
    border-radius:7px;
}
.wl6{
    background-color:white;
    padding:0px;
    margin-left:135px;
    padding:1px 6px;
    border-radius:7px;
}

.workcardleft p,.workcardright p{
    color:gray;
    margin-bottom:13px;
    font-size:20px;
}



@media screen and (max-width: 1200px) {
    .aboutbtn{
        border:none;
        background-color:blue;
        color:white;
        border-radius:50px;
        cursor:pointer;
        background-color:royalblue;
        margin-left:0px;
    }
    .worktitle h1{
        letter-spacing:1px;
        font-size:50px;
    } 
    
    .workcardleft h2,
    .workcardright h2{
        font-size:2.1rem;
    }

    .workcardleft{
        width:36vw;
        height:450px;
        border-radius:30px;
        margin-left:155px;
        margin-right:100px;
        background-color:#f2f0ef;
        padding:12px 19px;
        color:black;
        gap:5px !important;
      }
      .workcardright{
          width:36vw;
          height:450px;
          border-radius:30px;
          background-color:#f2f0ef;
          color:black;
          padding:12px 19px;
          gap:5px !important;
      }
    
    .Horizontal-line{
        height:1px;
        width:360px;
        background-color:lightgray;
        margin-bottom:25px;
        border-radius:50%;
    }
    
    .workcardleft h4,.workcardright h4{
        padding-top:5px;
    }
    
    
    .wl1{
        background-color:white;
        padding:0px;
        margin-left:0.5em;
        padding:1px 6px;
        border-radius:7px;
        font-size:1.2rem;
    }
    
    .wl2{
        background-color:white;
        padding:0px;
        margin-left:1.4em;
        padding:1px 6px;
        border-radius:7px;
        font-size:1.2rem;
    }
    .wl3{
        background-color:white;
        padding:0px;
        margin-left:4em;
        font-size:1.2rem;
        padding:1px 6px;
        border-radius:7px;
    }
    
    .wl4{
        background-color:white;
        padding:0px;
        margin-left:4.1em;
        padding:0px 1px;
        border-radius:7px;
        font-size:1.2rem;
    }
    .wl5{
        background-color:white;
        padding:0px;
        margin-left:3.3em;
        padding:0px 4px;
        border-radius:7px;
        font-size:1.2rem;
    }
    .wl6{
        background-color:white;
        padding:0px;
        margin-left:1em;
        padding:0px 0px;
        border-radius:7px;
        font-size:1.2rem;
    }
    
    .workcardleft p,.workcardright p{
        color:gray;
        margin-bottom:13px;
        font-size:18px;
    }
}
.aboutsecond{
    background-color:gray;
}

@media screen and (max-width: 992px) {
    .aboutbtn{
        border:none;
        background-color:blue;
        color:white;
        border-radius:50px;
        cursor:pointer;
        width:18vw;
        background-color:royalblue;
        padding: 5px 0px !important;
        font-size:15px !important;
        margin:-13px auto !important
    }
    .worktitle h1{
        letter-spacing:1px;
        font-size:3rem;
    } 
    
    .workcardleft h2,
    .workcardright h2{
        font-size:2rem;
    }

    .workcardleft{
        width:45vw;
        height:450px;
        border-radius:30px;
        margin-left:40px;
        margin-right:10px;
        background-color:#f2f0ef;
        padding:12px 19px;
        color:black;
        gap:5px !important;
      }
      .workcardright{
          width:45vw;
          height:450px;
          border-radius:30px;
          background-color:#f2f0ef;
          color:black;
          padding:12px 19px;
          gap:5px !important;
      }
    
    .Horizontal-line{
        height:0.1em;
        width:20em;
        background-color:lightgray;
        margin-bottom:25px;
        border-radius:50%;
    }
}

@media screen and (max-width: 768px) {
    .aboutbtn{
        border:none;
        background-color:blue;
        color:white;
        border-radius:50px;
        cursor:pointer;
        width:22vw;
        background-color:royalblue;
        padding: 5px 0px !important;
        font-size:15px !important;
        margin:-40px auto !important
    }

    .worktitle h1{
        letter-spacing:1px;
        font-size:2.5rem;
    } 

    .workcardleft{
        width:auto;
        height:auto;
        border-radius:30px;
        margin-left:5em;
        background-color:#f2f0ef;
        padding:12px 19px;
        color:black;
        gap:5px !important;
      }
    .workcardright{
          width:auto;
          height:auto;
          border-radius:30px;
          background-color:#f2f0ef;
          color:black;
          padding:12px 19px;
          gap:5px !important;
          margin-left:5em
      }
    
    .Horizontal-line{
        height:0.1em;
        width:20em;
        background-color:lightgray;
        margin-bottom:25px;
        border-radius:50%;
    }




    .about_logo{
        display:inline-block;
        background-color:#909eae;
        height:auto;
        width:100vw;
      }
      .about_text{
        background-color:#d9d9d9;
        color:black;
        padding:20px 20px;
        height:auto;
      width:100vw;
    }
    .parasm{
        width:90vw;
    }
    .textlg{
        width:90vw;
    }


}

@media screen and (max-width: 470px) {
    .textlg{
        font-size:2.9rem;
        margin:0px auto !important
    }
    .aboutbtn{
        border:none;
        background-color:blue;
        color:white;
        border-radius:50px;
        cursor:pointer;
        width:30vw;
        background-color:royalblue;
        padding: 4px 0px !important;
        font-size:15px !important;
        margin:-47px auto !important
    }
    .workcardleft{
        width:auto;
        height:auto;
        border-radius:30px;
        margin-left:0.9em;
        background-color:#f2f0ef;
        padding:12px 19px;
        color:black;
        gap:5px !important;
      }
    .workcardright{
          width:auto;
          height:auto;
          border-radius:30px;
          background-color:#f2f0ef;
          color:black;
          padding:12px 19px;
          gap:5px !important;
          margin-left:0.9em
      }
}

@media screen and (max-width: 365px) {

    .textlg{
        font-size:2.7rem;
        margin:0px auto !important
    }
    .aboutbtn{
        border:none;
        background-color:blue;
        color:white;
        border-radius:50px;
        cursor:pointer;
        width:36vw;
        background-color:royalblue;
        padding: 6px 0px !important;
        font-size:15px !important;
        margin:-20px auto !important
    }
    .parasm{
        font-size:1.1rem;
        padding-top:26px !important;
        padding-bottom:15px !important;
    }
    .workcardleft{
        width:auto;
        height:auto;
        border-radius:30px;
        margin-left:0.9em;
        background-color:#f2f0ef;
        padding:12px 7px;
        color:black;
        gap:0px !important;
      }
    .workcardright{
          width:auto;
          height:auto;
          border-radius:30px;
          background-color:#f2f0ef;
          color:black;
          padding:12px 7px;
          gap:5px !important;
          margin-left:0.9em
      }

      .worktitle h1{
        letter-spacing:1px;
        font-size:2.3rem;
    } 

}