.topcvbtns{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    justify-content:center;
    position:relative;
    width:54vw;
}

.buttons{
    height:auto;
    width:30vw;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:0.3rem;
    border-radius:40px;
    border:2px solid #FFFAFA;
    z-index:999;
}

.homebtn1{
    color:white;
        border-radius: 40px;
        border: 1px solid transparent;
        padding: 0.8em 2.3em;
        font-size: 1.2em;
        font-weight: 500;
        font-family: inherit;
        background-color:#353839;
        cursor: pointer;
        transition:border-color 0.25s;
}
.homebtn2{
    color:white;
        border-radius: 40px;
        border: 1px solid transparent;
        padding: 0.8em 3.2em;
        font-size: 1.2em;
        font-weight: 500;
        font-family: inherit;
        background-color:#353839;
        cursor: pointer;
        transition:border-color 0.25s;
        
}
.homebtn1:hover{
    transition:border-color 0.10s;
}
.homebtn2:hover{
    transition:border-color 0.10s;
}

.imgcontainer{
  max-width:40vw;
  height:auto;
  display:block;
  position:absolute;
  margin-right:100px;
  z-index:0;
}
.imgcontainer img{
    width:130%;
    height:auto;
    object-fit:contain;
}


@media screen and (max-width: 1413px) {
    .buttons{
        background-color:#6a;
        height:21%;
        width:24vw;
        align-items:center;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:1.3rem;
        border-radius:40px;
        transform:translate(-23%, 0%);
        border:2px solid #FFFAFA;
        position:relative;
    }

    @media screen and (max-width: 840px) {
        .homebtn1{
            color:white;
                border-radius: 40px;
                border: 1px solid transparent;
                padding: 0.7em 2.2em;
                font-size: 1.2em;
                font-weight: 500;
                font-family: inherit;
                background-color:#353839;
                cursor: pointer;
                transition:border-color 0.25s;
        }
        .buttons{
            background-color:#6a;
            height:20%;
            width:77%;
            align-items:center;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            gap:1.3rem;
            border-radius:40px;
            transform:translate(8%, 0%);
            border:2px solid #FFFAFA;
            position:relative;
        }


    }


@media screen and (max-width: 669px) {
  
    .homebtn1{
        color:white;
            border-radius: 40px;
            border: 1px solid transparent;
            padding: 0.6em 2.2em;
            font-size: 1.2em;
            font-weight: 500;
            font-family: inherit;
            background-color:#353839;
            cursor: pointer;
            transition:border-color 0.25s;
    }
    .buttons{
        background-color:#6a;
        height:20%;
        width:90%;
        align-items:center;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:1.3rem;
        border-radius:40px;
        transform:translate(-16%, 0%);
        border:2px solid #FFFAFA;
        position:relative;
    }
}

@media screen and (max-width: 600px) {
    .buttons{
        background-color:#6a;
        height:20%;
        width:90%;
        align-items:center;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:1.3rem;
        border-radius:40px;
        transform:translate(18%, -10%);
        border:2px solid #FFFAFA;
        position:relative;
    }
    .homebtn1{
        color:white;
            border-radius: 40px;
            border: 1px solid transparent;
            padding: 0.2em 2.1em;
            font-size: 1.2em;
            font-weight: 500;
            font-family: inherit;
            background-color:#353839;
            cursor: pointer;
            transition:border-color 0.25s;
    }
}




@media screen and (max-width: 409px) {
  
    .homebtn1{
        color:white;
            border-radius: 40px;
            border: 1px solid transparent;
            padding: 0.1em 2.2em;
            font-size: 1.2em;
            font-weight: 500;
            font-family: inherit;
            background-color:#353839;
            cursor: pointer;
            transition:border-color 0.25s;
    }
    .buttons{
        background-color:#6a;
        height:20%;
        width:70vw;
        align-items:center;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:1.3rem;
        border-radius:40px;
        transform:translate(23%, 0%);
        border:2px solid #FFFAFA;
        position:relative;
    }
}