
.homebinder{
    overflow:hidden;
}

.hellotext{
    padding-top:4rem;
    color:white;
    height:100%;
}
.section_onebg{
    /* background-Image:linear-gradient( rgba(255, 255, 255, 0), rgba(0, 0,0, 0.350)), url(../src/assets/images/homesec.jpg); */
    background-color:#46188a;
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding-left:1rem;
    justify-content:flex-end;
}
.h3hello{
    font-weight:600;
    font-size:1.5rem;
    letter-spacing:-1px;
    display:flex;
    justify-content:center;
    width:100%;
}
.h1hello{
    font-weight:700;
    font-size:6.7rem;
    letter-spacing:6px;
    word-spacing:6px;
    line-height:1.2;
    color:white;
    text-align:start;
    padding-left:25rem;
    padding-top:2.6rem;
}

.pankaj{
    color:#80ef80;
    text-decoration:underline
}
.imgcontainer{
    height:50vw;
    width:30vw;
    position:absolute;
    left:2rem;
}
.imgcontainer img{
    width:120%;
    height:100%;
    object-fit:contain;
}

@media screen and (max-width: 1367px) {

    
    .h1hello{font-size:4.7rem;
    }

}

@media screen and (max-width: 1067px) {
    
   
   .hellotext{
          padding-top:0.rem;
          padding-left:280px; 
          position:relative;
      }
      .girlcontainer{
        transform:translate(49%,43%);
        position:absolute;
    } 
      .h3hello{
          font-weight:700;
          font-size:1.3rem;
          letter-spacing:-1px;
          padding-top:13px;
      }
      .h1hello{
          font-weight:700;
          font-size:3.7rem;
          letter-spacing:1px;
          word-spacing:30px;
          padding-left:5;
          line-height:0.95;
          color:#6d8196
      }
      .homepicture img{
          width:75%;
          height:465px;
      }
}

@media screen and (max-width: 899px) {
    .homepicture img{
        width:40vw;
        height:50vh;
    }
    .girlcontainer{
        transform:translate(65%,74%);
        position:absolute;
    }
}

@media screen and (max-width: 670px) {
    .hellotext{
        padding-top:1.5rem;
        padding-left:120px; 
        position:relative;
    }
    
    .h3hello{
        font-weight:500;
        font-size:1.3rem;
        letter-spacing:-1px;
        padding-top:0px;
        padding-bottom:1rem;
    }
    .h1hello{
        font-weight:500;
        font-size:3.5rem;
        letter-spacing:1px;
        word-spacing:30px;
        padding-left:5;
        line-height:0.95;
        color:#6d8196
    }
    .homepicture img{
        width:100%;
        height:420px;
    }

    .homepicture{
        justify-content:center;
        display:flex;
    }

    .girlcontainer{
        transform:translate(49%,56%);
        position:absolute;
    }
    
    .pankaj{
        color:char;
        text-decoration:underline
    } 
    
}

@media screen and (max-width: 506px) {

    .homepicture img{
        width:100%;
        height:350px;
    }

    .homepicture{
        justify-content:center;
        display:flex;
    }

    .girlcontainer{
        transform:translate(60%,88%);
        position:absolute;
    }
}

@media screen and (max-width: 409px) {
    .girlcontainer{
        transform:translate(64%,164%);
        position:absolute;
    }
    .homepicture img{
        width:500px;
        height:250px;
    }

}