
 .homecard{
     display:flex;
     flex-wrap:wrap;
     align-items:end;
     justify-content:flex-end;
     border-radius:50px;
     padding:0.4rem 1rem;
     background-color:#6D816;
     border:2px solid lightgray;
     margin-left:49rem;
     margin-top:4.5rem;
     width:auto;
     box-shadow: 0 7px 9px 0px rgba(0, 0, 0, 0.2), 20px 30px 46px 0 rgba(0, 0, 0, 0.2);
 }
 .circle1{
     height:3vw;
     width:3vw;
     background-color: silver;
     border-radius:50%;
     border:1px solid silver;
     box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
 }
 .circle1 img,
 .circle2 img,
 .circle3 img{
     width:100%;
     height:100%;
     border-radius:50%;
     object-fit:cover;
     display:block;
 }
 .circle2{
     height: 3vw;
     width: 3vw;
     background-color: silver;
     border-radius:50%;
     margin-left:-30px;
     border:1px solid silver;
     box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
 }
 .circle3{
     height: 3vw;
     width: 3vw;
     background-color: blueviolet;
     border-radius:50%;
     margin-left:-30px;
     border:1px solid silver;
     box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
 }
 .plusico{
     height: 3.5vw;
     width: 3.5vw;
     align-content:center;
     justify-content:center;
     border-radius:50%;
     margin-left:-28px;
     box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     background-color:lightgray;
     color:royalblue;
     cursor:pointer;
 }
 .plusico h1{
     font-size:2rem;
     color:black;
 }


 @media screen and (max-width: 899px) {

    .cardheader{
        width:240px;
     }
     .homecard{
         display:flex;
         flex-wrap:wrap;
         align-items:center;
         justify-content:center;
         border:px solid beige;
         border-radius:50px;
         padding:6px 1px;
         background-color:#6896;
         margin-left:8px;
         margin-top:50px;
         box-shadow: 0 7px 9px 0px rgba(0, 0, 0, 0.2), 20px 30px 46px 0 rgba(0, 0, 0, 0.2);
     }
     .circle1{
         height: 60px;
         width:60px;
         background-color: silver;
         border-radius:50%;
         border:1px solid silver;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     }
     .circle1 img,
     .circle2 img,
     .circle3 img{
         width:100%;
         height:100%;
         border-radius:50%;
         object-fit:cover;
         display:block;
     }
     .circle2{
         height: 60px;
         width: 60px;
         background-color: silver;
         border-radius:50%;
         margin-left:-37px;
         border:1px solid silver;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     }
     .circle3{
         height: 65px;
         width: 65px;
         background-color: blueviolet;
         border-radius:50%;
         margin-left:-37px;
         border:1px solid silver;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     }
     .plusico{
         height: 70px;
         width: 70px;
         align-items:center;
         justify-content:center;
         border-radius:50%;
         margin-left:-37px;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
         border:px solid white;
         background-color:whitesmoke;
         color:black;
         cursor:pointer;
     }
 }

 @media screen and (max-width: 600px) {

    .cardheader{
        width:126px;
     }
     .homecard{
         display:flex;
         flex-wrap:wrap;
         align-items:center;
         justify-content:center;
         border:px solid beige;
         border-radius:50px;
         padding:15px 1px;
         background-color:#6896;
         margin-left:0px;
         margin-top:4px;
         box-shadow: 0 7px 9px 0px rgba(0, 0, 0, 0.2), 20px 30px 46px 0 rgba(0, 0, 0, 0.2);
     }
     .circle1{
         height: 50px;
         width:50px;
         background-color: silver;
         border-radius:50%;
         margin-bottom:8px;
         border:1px solid silver;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     }
     .circle1 img,
     .circle2 img,
     .circle3 img{
         width:100%;
         height:100%;
         border-radius:50%;
         object-fit:cover;
         display:block;
     }
     .circle2{
         height: 50px;
         width: 50px;
         background-color: silver;
         border-radius:50%;
         margin-left:0px;
         margin-bottom:8px;
         border:1px solid silver;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     }
     .circle3{
         height: 50px;
         width: 50px;
         margin-bottom:8px;
         background-color: blueviolet;
         border-radius:50%;
         margin-left:0px;
         border:1px solid silver;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
     }
     .plusico{
         height: 55px;
         width: 65px;
         align-items:center;
         justify-content:center;
         border-radius:50%;
         margin-left:0px;
         box-shadow:2px 7px 10px 0 rgba(0,0,0,0.3);
         background-color:whitesmoke;
         color:black;
         cursor:pointer;
     }
 }