.section2binder{
  /* background:url("./src/assets/images/bgsec2.jpg"); */
  background-size:cover;
  background-color:white;
  height:auto;
}

.sec2text{
  padding-top:5.5rem;
}
.bolder{
    font-size:3.6rem;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   width:100vw;
   margin-left:auto;
   margin-right:auto;
   color:black;
   font-weight:700;
   padding-bottom:4.4rem;
   letter-spacing:3px;
   word-spacing:0.3rem;
   height:3rem;

}
.bolder2{
    width:90%;
    display:flex;
    flex-wrap:wrap;
    margin-left:auto;
   margin-right:auto;
   font-weight:500;
   width:100vw;
   font-size:1.5rem;
   justify-content:center;
   color:gray;
}
.icoo{
   
}
.uiuxcards{
    background-color:white;
    border:1px solid lightgray;
    border-radius:18px;
    width:26vw;
    height:37vh;
    padding:1.5rem 1.3rem;
    margin-bottom:50px;
    cursor:pointer;
    align-items:start;
    justify-content:space-between;
    transition:all 220ms ease-in-out;
    box-shadow:7px 7px 25px 0px rgba(0, 0, 0, 0.2)
}
.uiuxcards:hover{
    background-color:white;
    transform:scale(103%);
    transition:all 300ms ease-in-out;
}
.icoo{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  align-items:start;

}

.ico h1:hover{
    color:black;
    transform:scale(110%);
    transition:all 300ms ease-in-out;
}

.uiuxcards:hover,
.psec2card:hover{
    color:black;
}

.sec2cardh1:hover{
    color:black;
    transform:scale(104%);
    transition:all 300ms ease-in-out;
}

.cardbtnsec2:hover{
    letter-spacing:2.8px
}

.uiuxcardbinder{
    gap:2.9rem;
    padding:5rem 0rem;;
}

.sec2cardh1{
    color:black;
    letter-spacing:0.7px;
    font-size:2.1rem;
    font-weight:500;
    transition:all 0.4s ease;
    word-spacing:4px;
    background-color:transparent;
}
.services{
    color:#46188a;
    margin-left:1.1rem;
}

.psec2card{
    word-spacing:1px;
    letter-spacing:1px;
    font-size:1.0rem;
    line-height:24px;
    font-weight:400;
    text-align:start;
    color:black;
}

.cardbtnsec2{
    border:none;
    align-self:start;
    background-color:rgba(0,0,0,0.0); 
    font-size:17px;
    opacity:0.7;
    letter-spacing:1.8px;
    transition:all 0.4s ease;
};

@media screen and (max-width: 1200px) {
    .uiuxcards{
        background-color:rgba(255,255,255,0.1);
        border:px solid gray;
        border-radius:110px;
        width:36%;
        max-height:510px;
        padding:45px 18px;
        margin-bottom:40px;
        cursor:pointer;
        transition:all 220ms ease-in-out;
    }
    .swh3{
        height:52px;
        width:150px;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        background-color:rgba(0,0,0,0.1);
        justify-content:center;
        border-radius:55px;
        color:white;
        font-weight:700;
        font-size:1rem;
        position:relative;
        margin:0px 0px 0px 0px;
    }
    .swico{
        color:snow;
        background-color:transparent;
        border-radius:50%;
        border:none;
        font-size:48px;
        display:flex;
        transition: all 0.5s ease;
        position: absolute;
        left:0;
        top:2;
        padding:0px 0px 0px 15px;
        margin:0px;
    }
}

@media screen and (max-width: 992px) {
    .uiuxcards{
        background-color:rgba(255,255,255,0.1);
        border:px solid gray;
        border-radius:110px;
        width:45%;
        max-height:510px;
        padding:45px 18px;
        margin-bottom:40px;
        cursor:pointer;
        transition:all 220ms ease-in-out;
    }
    .swico{
        color:snow;
        background-color:transparent;
        border-radius:50%;
        border:none;
        font-size:38px;
        display:flex;
        transition: all 0.5s ease;
        position: absolute;
        left:0;
        top:2;
        padding:0px 0px 0px 1px;
        margin:0px;
    }
    .swh3{
        height:52px;
        width:30vw;
        display:flx;
        flex-wrap:wrp;
        align-items:center;
        background-color:rgba(0,0,0,0.1);
        justify-content:center;
        border-radius:55px;
        color:white;
        font-weight:400;
        font-size:1rem;
        position:relative;
        margin:0px 0px 0px 0px;
    }
    .sliderwrapper{
        border:2px solid blue;
        border-radius:50px;
        display:flex;
        flex-wrap:wrap;
        padding:0px 0px 0px 50px;
        cursor:pointer;
        transition: all 0.5s ease;
        position:relative;  
        width:26vw;
        border:none;
    }
}

@media screen and (max-width: 768px) {
    .uiuxcards{
        background-color:rgba(255,255,255,0.1);
        border:px solid gray;
        border-radius:110px;
        width:69%;
        max-height:500px;
        padding:45px 18px;
        margin-bottom:40px;
        cursor:pointer;
        transition:all 220ms ease-in-out;
    }
    .swh3{
        height:42px;
        width:40vw;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        background-color:rgba(0,0,0,0.1);
        justify-content:center;
        border-radius:55px;
        color:white;
        font-weight:400;
        font-size:1rem;
        position:relative;
        margin:0px 0px 0px 0px;
    }
    .sliderwrapper{
        border:2px solid blue;
        border-radius:50px;
        display:flex;
        flex-wrap:wrap;
        padding:0px 0px 0px 40px;
        cursor:pointer;
        transition: all 0.5s ease;
        position:relative;  
        width:26vw;
        border:none;
    }
    .swico{
        color:snow;
        background-color:transparent;
        border-radius:50%;
        border:none;
        font-size:32px;
        display:flex;
        transition: all 0.5s ease;
        position: absolute;
        left:0;
        top:2;
        padding:0px 0px 0px 1px;
        margin:0px;
    }
}

@media screen and (max-width: 540px) {
 
    .uiuxcards{
        background-color:rgba(255,255,255,0.1);
        border:px solid gray;
        border-radius:110px;
        width:95%;
        max-height:500px;
        padding:45px 18px;
        margin-bottom:0px;
        cursor:pointer;
        transition:all 220ms ease-in-out;
    }
    .swh3{
        height:34px;
        width:25vw;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        background-color:rgba(0,0,0,0.1);
        justify-content:center;
        border-radius:55px;
        color:white;
        font-weight:400;
        font-size:0.7rem;
        position:relative;
        margin:0px 0px 0px 0px;
    }
    .sliderwrapper{
        border-radius:50px;
        display:flex;
        flex-wrap:wrap;
        padding:0px 0px 0px 0px;
        cursor:pointer;
        transition: all 0.5s ease;
        position:relative;  
        width:27vw;
        border:none;
    }
    .swico{
        color:snow;
        background-color:transparent;
        border-radius:50%;
        border:none;
        font-size:28px;
        display:none;
        transition: all 0.5s ease;
        position: absolute;
        left:0;
        top:2;
        padding:0px 0px 0px 1px;
        margin-:10px;
    }


}