/* Purple Gradient Background */
.portfolio-bg {
    min-height: 158vh;
    background: linear-gradient(135deg, #6a11cb, #7b2ff7);
  }
  
  /* Tab Purple Text Helper */
  .text-purple {
    color: #6a11cb;
    font-size:1rem;
    font-weight:700;
    border:none;
  }
  .text-white {
    color: #6a11cb;
    font-size:1.2rem;
    font-weight:700;
    background:none;
    box-shadow:none;
    border:none;
  }
  
  /* Card Style */
  .portfolio-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 8px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .portfolio-card:hover {
    transform: scale(1.05);
  }
  
  /* Image Fix */
  .portfolio-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .designstext{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.3rem;
    color:white;
    margin-bottom:4.6rem;
}
.designstext h3{
    font-size:2.5rem;
    font-weight:700;
    margin-top:1.2rem;
}
.designstext h4{
    font-size:1.1rem;
    color:lightgray;
}

.designspan{
    color:yellow;
}

.portfolio-card img {
    transition: transform 0.3s ease;
  }
  
  .portfolio-card:hover img {
    transform: scale(1.05);
  }
  